<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'sikantin.css' %}">
    <title>Feedback Kamu!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="nav">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}" style=" color: rgb(80, 80, 80);"><b>Logout</b></a>
        {% else %}
        <p></p>
        {% endif %}
    </nav>

    <section class="half container-fluid flex-column flex-lg-row m-auto w-50">
        <br>
        <h2 style="text-align: center">Halo {{ user.username }}, Beri Feedback & Testimony-mu ^.^ !!</h2>
        <br>
        <div class="schedule col-sm h-100 d-flex justify-content-center align-items-center">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <p class="w-100 justify-content-center my-1">{{ field.label }} <br> {{ field }}</p>
                {% endfor %}
                <button id="submit" type="submit" value="Submit" class="btn btn-dark mx-auto mt-2"
                    style="float: right;">Kirim</button>
            </form>
        </div>
        <br>
    </section>

    <section class="schedule w-100 d-flex flex-column flex-lg-row justify-content-center align-items-center"
        id="body-dark">
        <div class="row m-auto w-50" style="overflow: hidden; overflow-y:auto; height: 70%;" id="bg-down">
            {% for i in events %}
            <div>
                <h5 style="padding-left: 15px">Feedback {{ user.username }} :</h5>
            </div>
            <div class="container">
                <div class="text-monospace">
                    <p>{{ i.feedback }}</p>
                    <p style="float: right;">{{ i.date }}</p>
                </div>
            </div>

            <div class="col-sm-12 d-flex align-items-end justify-content-end" style="padding-right: 35px">
                <form method="POST" action="{% url 'feedback:feedback_delete' i.id %}">
                    {% csrf_token %}
                    <input name="id" value="{{i.id}}" type="hidden">
                    <button id="delete" type="" class="btn btn-outline-dark btn-sm"
                        style="margin-left: 30%; font-size: 0.8rem;">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>