@font-face {
    font-family: 'silhouettoregular';
    src: url('/static/Fonts/silhouetto-regular-webfont.woff2') format('woff2'),
         url('/static/Fonts/silhouetto-regular-webfont.woff') format('woff');
}

.d-flex > h2 {
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

#div_id_payment > label {
    font-size: 3vw;
    font-weight: bold;
    color: #D9AC52;
}

#div_id_delivery > label {
    font-size: 15px;
    font-weight: bold;
    color: #D9AC52;
}

#div_id_name > label {
    font-size: 3vw;
    font-weight: bold;
    color: #D9AC52;
}

#div_id_date > label {
    font-size: 3vw;
    font-weight: bold;
    color: #D9AC52;
}

#div_id_address > label {
    font-size: 3vw;
    font-weight: bold;
    color: #D9AC52;
}

#div_id_phone_number > label {
    font-size: 3vw;
    font-weight: bold;
    color: #D9AC52;
}

.btn-outline-warning {
    font-weight: bold;
    padding: 10px 20px;
    color: #D9AC52;
    border-color: #D9AC52;
}

.btn-outline-warning:hover {
    color: white;
    background-color: #D9AC52;
    border-color: #D9AC52;
}

.btn-outline-success {
    font-weight: bold;
    padding: 10px 20px;
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

#div_button_next > button {
    float: right;
    margin-right: 7vw;
}

#pesanan {
    font-family: 'silhouettoregular';
    color: #9E1225;
    font-size: 6vw;
}



