<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Amount</title>
    {% load static %}
    {% load crispy_forms_tags %}
    {% include 'base_pemesanan.html'%}
    <!--<link rel="stylesheet" href='{% static "main.css" %%}'> -->
    <!-- <link rel="stylesheet" href="main.css"> -->
    
    <link rel="stylesheet" href="{% static 'news.css' %}">
    <script src="{% static 'news.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">SiKantin</a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link">Pemesanan</a>
          </li>
        </ul>
      </nav>
    </div>
    <div
    class="d-flex justify-content-center" style="background-image: url({% static 'Photos/Amount.png' %});"
    >
    <h2><br /><br /><br />Mau Pesan Berapa Banyak?<br /><br /><br /></h2>
  </div>
  

    <div class="container">
      {%for item in query%}
      <div class="row mt-5">
        <div class="col-6">
          <p>{{ item.attr.name }}</p>
        </div>
        <div class="col-5">
          <form
            action="{%url 'set_amount' item.curr_id item.attr.food_id%}"
            method="post"
          >
            {% csrf_token %}
            {{ amount_form | crispy }}
            <button type="Amount" class="btn btn-light">Save</button>
          </form>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="d-flex justify-content-end mr-5 mt-5">
      <a class="btn btn-md btn-primary" href="/kalori/">Lanjut</a>
    </div>
    <br>
    <div  class="container-fluid">
      <div id="News" class="row">
        <!-- buat di akses js -->

      </div>
    </div>
  </body>
</html>
{% include 'footer.html'%}
