{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Menu</title>
    {% load static %}
    {% load crispy_forms_tags %}
    {% include 'base_pemesanan.html'%}
  <style type="text/css">
    .bg-cover {
      background-image: url("/static/Photos/Menu.png");
    }
  </style>
</head>
{% include "header2.html"%}
<br><br><br><br><br><br><br>
<body class="basic-page">
  <div class="container-fluid">
    <h2 class="list">Daftar Makanan</h2>
    <hr>
    <div class="row">
      {%for food in first_half%}
      <div class="col-6">
        <div class="card mb-3" style="width: 30rem;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{% static 'Photos/Wallpaper 13.jpg' %}" class="card-img-top" alt="food">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{food.name}}</h5>
                <p class="card-text">Toko: @{{food.merchant}}</p>
                <p class="card-text">Harga: Rp. {{food.price}},-</p>
                <p class="card-text">Kalori: {{food.calories}}</p>
                <a href="{%url 'increment' food.food_id%}" class="add_cart">Tambah ke Keranjang</a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      <div class="row ml-5">
        {%for food in second_half%}
        <div class="col-md-4 m-3">
          <div class="card mb-3" style="width: 30rem;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'Photos/Wallpaper 16.jpg' %}" class="card-img-top" alt="food">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{food.name}}</h5>
                  <p class="card-text">Toko: @{{food.merchant}}</p>
                  <p class="card-text">Harga: Rp. {{food.price}},-</p>
                  <p class="card-text">Kalori: {{food.calories}}</p>
                  <a href="{%url 'increment' food.food_id%}" class="add_cart">Tambah ke keranjang</a>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br>

  <div class="d-flex justify-content-center mr-3">
    <a href="{%url 'new_order'%}" class="btn btn-md btn-warning">Pesan</a>
  </div>
</body>
{% include 'footer.html'%}