{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
   {% load static %}
    {% load crispy_forms_tags %}
    {% include 'base_pemesanan.html'%}
  <style type="text/css">
    .bg-cover {
      background-image: url("/static/Photos/Menu.png");
    }
  </style>
</head>
<body class="basic-page">
  <div class="menus bg-cover">
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="{%url 'home'%}">SiKantin</a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link">Menu</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <form  class="form-inline navbar-form navbar-right" action="{% url 'search_results' %}" method="get">
                {% csrf_token %}
                {{search_form}}
            </form>
          </li>
        </ul>
      </nav>
    </div>
    <br><br><br>
    <br><br><br>
    <div class="container-fluid">
      <h2 class="best_seller">Hasil Pencarian</h2>
      {% for food in foods %}
        <div class="row m-3">
              <div class="card" style="width: 18rem;">
                <img src="{{ food.img.url }}" class="card-img-top" alt="food">
                  <div class="card-body">
                    <h5 class="card-title">{{food.name}}</h5>
                    <p class="card-text">Toko: @{{food.merchant}}</p>
                    <p class="card-text">Harga: Rp. {{food.price}},-</p>
                    <p class="card-text">Kalori: {{food.calories}}</p>
                    <a href="{%url 'increment' food.food_id%}" class="add_cart">Tambah ke keranjang</a>
                  </div>
              </div>
            </div>
      {% endfor %}
    </div>
  </div>
</div>

<br><br><br><br><br><br>
  <div class="d-flex justify-content-center mr-3">
    <a href="{%url 'new_order'%}" class="btn btn-md btn-warning">Pesan</a>
  </div>

