<html>
<head>
    <title>Kalori</title>
    {% load static %}
    {% load crispy_forms_tags %}
    {% include 'base_pemesanan.html'%}
    <style>
        body > .a {
            background-image: url("{% static 'Photos/Wall.png' %}");
            background-repeat: no-repeat;
            background-position-x: 55vw;
            background-position-y: 45px;
            background-size: 29vw;
        }

        body {
            background-image: url("{% static 'Photos/Wall 2.png' %}");
            background-repeat: no-repeat;
            background-position-x: 2vw;
            background-position-y: 600px;
            background-size: 25vw;
        }
    </style>
</head>
{% include 'header2.html'%}
<br><br><br><br><br><br>
<body>
    <div class="container a">
        <div class="d-flex justify-content-center">
            <h1 style="color: #D9AC52; font-weight: bold;font-size: 4vw;">PESANAN SUDAH DIPROSES!</h1>
        </div>
        <br><br><br>
        <div class="d-flex justify-content-center">
            <h3 id="pesanan">Pesanan Anda</h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-5">
                <h5 style="color: rgba(0, 0, 0, 0.7);font-size: 2vw;">Nama</h5>
            </div>
            <div class="col-md-1">
                <h5 style="color: black;font-size: 2vw;">:</h5>
            </div>
            <div class="col-md-6">
                <p style="color: black;font-weight: bold;font-size: 2vw;">{{name}}</p>
            </div>
        </div>
         <div class="row mt-3">
            <div class="col-md-5">
                <h5 style="color: rgba(0, 0, 0, 0.7);font-size: 2vw;">Alamat Tujuan</h5>
            </div>
            <div class="col-md-1">
                <h5 style="color: rgba(0, 0, 0, 0.7);font-size: 2vw;">:</h5>
            </div>
            <div class="col-md-6">
                <p style="color: black;font-weight: bold;font-size: 2vw;">{{order.address}}</p>
            </div>
        </div>
         <div class="row mt-3">
            <div class="col-md-5">
                <h5 style="color: rgba(0, 0, 0, 0.7);font-size: 2vw;">Metode Pembayaran</h5>
            </div>
            <div class="col-md-1">
                <h5 style="color: rgba(0, 0, 0, 0.7);font-size: 2vw;">:</h5>
            </div>
            <div class="col-md-6">
                <p style="color: black;font-weight: bold;font-size: 2vw;">{{order.payment}}</p>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-md-5">
                <h5 style="color: rgba(0, 0, 0, 0.7);font-size: 2vw;">Tanggal Pengambilan</h5>
            </div>
            <div class="col-md-1">
                <h5 style="color: rgba(0, 0, 0, 0.7);font-size: 2vw;">:</h5>
            </div>
            <div class="col-md-6">
                <p style="color: black;font-weight: bold;font-size: 2vw;">{{order.date}}</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="d-flex justify-content-center">
            <h3 style="color: #D9AC52; font-weight: bold;font-size: 4vw;">Rincian Biaya</h3>
        </div>
        <br>
        {% for item in food %}
        <div id="Pesanan" class="row mt-3">
            <div class="col-md-3">
                <p style="color: black;font-size: 2vw;">{{item.amount}}X</p>
            </div>
            <div class="col-md-3">
                <p style="color: black;font-size: 2vw;">{{item.attr.name}}</p>
            </div>
            <div class="col-md-3">
                <p style="color: black;font-size: 2vw;">@{{item.attr.merchant}}</p>
            </div>
            <div class="col-md-3">
                <p style="color: #9E1225;font-size: 2vw;">Rp.{{item.attr.price}},-</p>
            </div>
        </div>
        {%endfor%}
        <div class="row">
            <div class="col-md-9">
                <h5 style="color: rgba(0, 0, 0, 0.7);font-size: 2vw;">Biaya Pengantaran</h5>
            </div>
            <div class="col-md-3">
                <p style="color: #9E1225;font-size: 2vw;">Rp.{{delivery_fee}},-</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h5 style="color: black; font-weight:bold;font-size: 2vw;">Total Pembayaran</h5>
            </div>
            <div class="col-md-3">
                <p style="color: #9E1225;font-weight:bold;font-size: 2vw;">Rp.{{total_price}},-</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center" id="div_button_next">
                <a class="btn btn-md btn-outline-success" href="/pemesanan/">Pesan Lagi</a>
            </div>
        </div>
        <br>
    </div>
</body>
{% include 'footer.html'%}