@font-face {
  font-family: 'adam.cg_proregular';
  src: url('/static/Fonts/adam.cg_pro-webfont.woff2') format('woff2'),
       url('/static/Fonts/adam.cg_pro-webfont.woff') format('woff');
}
@font-face {
  font-family: 'silhouettoregular';
  src: url('/static/Fonts/silhouetto-regular-webfont.woff2') format('woff2'),
       url('/static/Fonts/silhouetto-regular-webfont.woff') format('woff');
}
h2 {
font-family: "Verdana";
font-size: 40px;
font-weight: bold;
color: #D9AC52;
}
.bg_kalori {
float: right;
height: 65vh;
width: 30vw;
filter: brightness(0.5);
}



.grey{
color: gray;
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: red;
  }
  
  .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  }
  
  .hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  display:none;
  padding: 0.5em 0;
  background-color: transparent;
  }
  
  .hovereffect:hover h2{
    display:block;
  }