
<!DOCTYPE html>
<html>
  {% load static %}
    {% load crispy_forms_tags %}
{% include 'base_kalori.html'%}
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">SiKantin</a>
            <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link">Kalori</a>
            </li>
            </ul>
        </nav>
    </div>
     <br><br><br><br>
    <div class="d-flex justify-content-center">
        <h2>Yuk, Cek Kalori Makanan Pesanan Anda Di Sini!</h2>
    </div>
    <div class="container">
        <img class="bg_kalori" src="{% static 'Photos/Kalori.jpg' %}">
            <div class="form-group">
                {% csrf_token %}
                <div class="row mt-5">
                    <div class="col-12">
                        {{ form.age|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.gender|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form.activity|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button  class="btn btn-outline-success" id="calorie-submit">Cek Kalori</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-md btn-warning" href="/pemesanan/pembayaran/">Lanjut</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'jquery-3.4.1.js' %}"></script>
    <script>
     $(document).on("click", "#calorie-submit", function(event){
                    event.preventDefault();
                    getResults();
        });
   
            function getResults() {
                var token = '{{csrf_token}}';
                var age=$("#id_age").val();
                var gender=$("#id_gender").val();
                var activity=$("#id_activity").val();
                $.ajax({
                    url:"{%url 'get_kalori'%}",
                    data:{
                        "headers": { "X-CSRFToken": token },
                        "age":age,
                        "gender":gender,
                        "activity":activity
                    },
                    datatype:"json",
                    success:function (result) {
                        alert(result.output);
                    }
                })
            }

    </script>
</body>
<br><br><br><br><br><br><br><br>
{% include 'footer.html'%}