{% load static %}
{% load crispy_forms_tags %}
{% include 'base_kalori.html'%}
 {% if user.is_authenticated %}
    {% include 'header2.html'%}
  {% else%}
    {% include 'header1.html'%}
  {% endif %}
   <style>
    
        label{
            font-family: "verdana";
        color:green;
        font-size:20px;
        }
    </style>
<body>
 <br><br><br><br><br><br>
 <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <h2>Food Search Engine</h2>
            </div>
                    {% csrf_token %}
                    <div class="row justify-content-center">
                      <div class="col-12">
                        {{form.keyFood|as_crispy_field}}
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-12">
                        {{form.keyCalorie|as_crispy_field}}
                      </div>
                    </div>

            <div class="row justify-content-center">
                <button class="btn btn-outline-success btn-lg" id="search-button">Search</button>
            </div>
</div>
    <div class="container-fluid">
        <div id="search-result">           
        </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'jquery-3.4.1.js' %}"></script>
    <script>
            $( document ).ready(function() {
               getResults(1);
          })
            $(document).on("click", "#search-button", function(event){
                    
                    event.preventDefault();
                    getResults(0);
                    
                });
            
             $(document).keypress(function(event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    event.preventDefault();
                    getResults(0); 
                }
            });
              function getResults(id) {
                var token = '{{csrf_token}}';
                if(id==0){
                  var query=$("#search1-query").val();
                  var cal=$("#search2-query").val();
                }
                else{
                  var query="sate";
                  var cal="0";
                }
                if(query==""){
                  query="null";
                }
                if(cal==""){
                  cal="0";
                }
                $.ajax({
                    url:"{%url 'get-food'%}",
                    data:{
                        "headers": { "X-CSRFToken": token },
                        "cal":cal,
                        "query":query
                    },
                    datatype:"json",
                    beforeSend: function(){
                        // Show image container
                        var content="<div class='text-center mb-5'><img src='{%static 'loading.gif'%}' alt='loading' width=350px></div>";
                        $("#search-result").html(content);
                    },
                    success:function (result) {    
                         $("#search-result").empty();          
                        var complete_text = ""
                        if(result.status=="failure"){
                          complete_text+='<div class="text-center mt-5 mb-5"><h3>Maaf terjadi error , coba gunakan layanan ini di lain waktu</h3></div>';
                        }
                        else{
                          if(result.results.length==0){
                              complete_text+='<div class="text-center mt-5 mb-5"><h3>Hasil tidak ditemukan :(</h3></div>';
                          }
                          else{
                              for (i = 0; i < result.results.length; i++) {
                                  var img =  result.results[i].image;
                                  var title =  result.results[i].title;
                                  if(img==null){
                                      img="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/romaine-lettuce-can-be-seen-at-a-store-in-mountain-view-news-photo-1575392907.jpg?resize=980:*";
                                  }
                                  complete_text +=
                              '<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pt-3 pb-3">'+
                                      '<div class="hovereffect">'+
                                              '<img class="" src="' + img + '" alt="">'+
                                                  '<div class="overlay">'+
                                                      '<h2>' + title +'</h2>'+
                                                  '</div>'+                  
                                      '</div>'+
                                  '</div>';
                              }
                              
                          }
                        }
                        
                        $("#search-result").empty();
                        var container_open = '<div class="d-flex justify-content-around align-items-center flex-wrap">';
                        var container_close = '</div>';
                        $("#search-result").html(container_open+ complete_text + container_close);
                        
                    }
            })
        }
    </script>
</body>
<br><br><br><br><br><br>
{% include 'footer.html'%}