
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">SiKantin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'home'%}" id="order">Pesan Makanan</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="{%url 'history'%}" id="history_list">Riwayat</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Search</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'logout'%}">Logout</a>
          </li>
      </div>
    </nav>