@font-face {
  font-family: 'adam.cg_proregular';
  src: url('/static/Fonts/adam.cg_pro-webfont.woff2') format('woff2'),
    url('/static/Fonts/adam.cg_pro-webfont.woff') format('woff');
}

@font-face {
  font-family: 'silhouettoregular';
  src: url('/static/Fonts/silhouetto-regular-webfont.woff2') format('woff2'),
    url('/static/Fonts/silhouetto-regular-webfont.woff') format('woff');
}

/* Background image */
.jumbotron {
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-shadow: 2px 2px #000;
  background-size: cover;
  color: white;
  background-position: center center;
  background:
    /* top, transparent red */
    linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7))
}

.menus {
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-size: cover;
  background-position: center center;
  background:
    /* top, transparent red */
    linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7))
}

.welcome {
  font-family: "adam.cg_proregular";
  font-size: 38px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #D9AC52;
}

h1 {
  font-family: "verdana";
  font-weight: bold;
}

h2 {
  font-family: "adam.cg_proregular";
  text-align: center;
}
ul{
  font-family: "adam.cg_proregular";
  text-align: center;
}
h5{
  font-family: "adam.cg_proregular";
  text-align: center;
}
h3 {
  font-family: "silhouettoregular";
  font-size: 40px;
  text-align: center;
  margin-bottom: 0rem;
  color: #9E1225;
}

.desc {
  font-size: 22px;
  font-family: "Verdana";
}

p {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btn-warning {
  color: white;
  font-size: 20px;
  background-color: #D9AC52;
  border-color: #D9AC52;
  width: 120px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.btn-outline-warning {
  color: white;
  background-color: transparent;
  border-width: thick;
  border-color: white;
  font-size: 3em;
  width: 45%;
}

.best_seller {
  font-size: 40px;
  color: #D9AC52;
  text-align: left;
  padding-left: inherit;
}

.list {
  font-size: 40px;
  color: #9E1225;
  text-align: left;
  padding-left: inherit;
  margin-top: 1rem;
}

.card {
  border: unset;
}

.card-body {
  float: left;
  padding-top: 1.25rem;
  padding-left: 1.5rem;
  padding-bottom: 0;
}

.card-text {
  margin-bottom: 10px;
}

.add_cart {
  color: #9E1225;
  font-family: "silhouettoregular";
  font-size: 35px;
  margin-bottom: 10px;
  margin-left: 90px
}

#nav-link {
  color: white;
  padding-left: 20vw;
}
