{% load static %} {% include 'base_history.html'%} {% include 'header2.html'%}
<br /><br /><br /><br /><br />

<body>
  <h2>Riwayat Pemesanan</h2>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <table
        class="table table-hover table-bordered table-dark table-responsive"
      >
        <thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Tanggal Pengambilan</th>
            <th scope="col">Total Biaya</th>
            <th scope="col">Tempat Pengambilan</th>
          </tr>
        </thead>
        <tbody>
          {%for order in orders%}
          <tr>
            <td>{{user}}</td>
            <td>{{order.order.date}}</td>
            <td>Rp.{{order.price}},-</td>
            <td>{{order.order.address}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    <div class="col-3"></div>
  </div>
  <script>
    alert("ini halaman pemesanan yang telah kamu lakukan ya!");
  </script>
</body>
{% include 'footer.html'%}
