{% load static %}
{% include 'base_history.html'%}
 <style type="text/css">
    .bg-cover {
      background-image: url("/static/Photos/Landing.png");
    }
  </style>

<body class="basic-page">
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">SiKantin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" id="about_us">Tentang Kami</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#" id="faq">FAQ</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{%url 'searchFood'%}">Search</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item ">
          <li class="nav-item ">
            <a class="nav-link" href="{%url 'signup'%}">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'login'%}">Login</a>
          </li>
      </div>
    </nav>

  <div class="jumbotron bg-cover">
    <div class="container">
      <h4 class="welcome">SELAMAT DATANG DI</h4>
      <h1 class="display-2 mb-3" id="">SiKantin</h1>
      <p class="desc">Kamu lapar tapi malas ngantri? Mau nyicip makanan murah kantin Fasilkom UI, tapi males keluar? Pakai SiKantin saja </p>
    </div>
  </div>
  <div class="container" id="about_section">
    <div class="row justify-content-center">
      <div class="col-md-12 mx-auto">
        <h2>Tentang Kami</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>SiKantin adalah website sistem informasi Kantin Fasilkom UI. Ide ini muncul karena <strike>diminta kak pewe</strike> kantin Fasilkom kian hari makin padat terutama ketika jam makan siang. Hal tersebut dapat merugikan elemen Fasilkom yang mungkin tidak mempunyai banyak waktu untuk melakukan isoma.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 mx-auto">
        <h2>Kontributor</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="justify-content-center">
            <ul>
                <li>Mahardika Krisna Ihsani</li>
                <li>M. Ramy Azhar</li>
                <li>Putri Salsabila</li>
                <li>Sean Zeliq Urian</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="faq_section">
    <div class="row justify-content-center">
      <div class="col-md-12 mx-auto">
        <h2>FAQ</h2>
      </div>

      <div>

        <div>1. Apa itu sikantin? Sikantin adalah sistem informasi kantin Fasilkom UI, jadi bisa pesan makanan tanpa datang langsung ke tokonya.</div>
        <div>2. Apakah hanya anak fasilkom yang boleh memesan lewat Sikantin? tidak dong, siapapun boleh memesan tapi jangan lupa daftarkan diri terlebih dahulu ya!</div>
        <div>3. Apakah bisa diantar pesananannya? Ya, saat di halaman pembayaran bisa memilih untuk diantarkan atau diambil langsung.</div>
        <div>4. Apakah saya bisa memesan makanan dari kantin fakultas lain(bukan fasilkom)? untuk saat ini hanya kantin fasilkom dulu ya!</div>
        <div>5. Apakah benar bisa mengecek kebutuhan kalori? Ya, ada program khusus yang bisa menghitung kebutuhan kalorimu lho!</div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-12 mx-auto">
         <h5>Bottom Text</h5>
      </div> -->
    </div>
  </div>
</body>
{% include 'footer.html'%}
    <script>
        $("#about_us").click(function(event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $("#about_section").offset().top
            }, 2000);
        });
        $("#faq").click(function(event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $("#faq_section").offset().top
            }, 2000);
        });
    </script>
</html>